* {
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}

body {
	font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

.header {
	background-color: #43afd0;
}

.header_container {
	display: flex;
	justify-content: space-between;
	width: 1440px;
	margin: auto;
	padding: 20px 10px;
}

.nav_container {
	display: block;
	content: "";
	clear: both;
}

.nav_link {
	
	padding: 10px 0;
   	margin-left: 35px;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
}

a:hover {
	color: #434f4f;
}

.button {
	position: fixed;
	right: 0;
	bottom: 10px;
	font-size: 20px;
}
